# Introduction to Plotly

## Scatter Plot
Scatter plots allow the comparison of two variables for a set of data. \
Depending on the trend of te scatter points, we could interpret a correlation.

In [1]:
import pandas as pd
import numpy as np
import plotly.offline as pyo
import plotly.graph_objs as go

In [2]:
np.random.seed(42)
random_x = np.random.randint(1, 101, 100)
random_y = np.random.randint(1, 101, 100)

In [3]:
data = [go.Scatter(x= random_x, y= random_y, mode= 'markers')]
pyo.plot(data, filename='Scatter_Plot_01.html')

'file:///home/fabio/Documents/github/Plotly-Dash-Course/03 Plotly Basics/Scatter_Plot_01.html'

In [4]:
data = [go.Scatter(
                    x= random_x, 
                    y= random_y, 
                    mode= 'markers',
                    marker= dict(
                                size= 12,
                                color= 'rgb(51, 204, 153)',
                                symbol= 'star',
                                line= {'width': 2}
                    ))]

layout = go.Layout(
                    title= 'Correlation Between Two Variables',
                    xaxis= {'title': 'MY X AXIS'},
                    yaxis= dict(title='MY Y AXIS'),
                    hovermode= 'closest'
                )

fig = go.Figure(data= data, layout= layout)
pyo.plot(fig, filename='Scatter_Plot_02.html')

'file:///home/fabio/Documents/github/Plotly-Dash-Course/03 Plotly Basics/Scatter_Plot_02.html'

## Line Chart 
A line chart displays a series of data points (markers) connected by line segments. \
Similar to scatter plot, but the measurement points are orders (typically by their x-axis value) and joined with straight line segments \
Often used to visualize a trend in data over intervals of time (time series)

### Part I

In [5]:
np.random.seed(56)
x_values = np.linspace(0, 1, 100)
y_values = np.random.randn(100)

In [6]:
trace0 = go.Scatter(x= x_values, y= y_values+7, 
                    mode= 'markers', name= 'markers')
trace1 = go.Scatter(x= x_values, y= y_values, 
                    mode= 'lines', name= 'mylines')
trace2 = go.Scatter(x= x_values, y= y_values-7, 
                    mode= 'lines+markers', name= 'line+markers')

data = [trace0, trace1, trace2]

layout = go.Layout(title= 'Line Chart')
fig = go.Figure(data= data, layout= layout)
pyo.plot(fig, filename= 'Line_Chart')

/home/fabio/anaconda3/envs/dash/lib/python3.6/site-packages/plotly/offline/offline.py:459: UserWarning:

Your filename `Line_Chart` didn't end with .html. Adding .html to the end of your file.

'file:///home/fabio/Documents/github/Plotly-Dash-Course/03 Plotly Basics/Line_Chart.html'

### Part II

In [7]:
df = pd.read_csv('../Data/nst-est2017-alldata.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2015,RDOMESTICMIG2016,RDOMESTICMIG2017,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017
0,10.0,0,0,0.0,United States,308745538.0,308758105.0,309338421.0,311644280.0,313993272.0,...,0.000000,0.000000,0.000000,2.720900,2.920371,2.883643,3.173228,3.516743,3.513394,3.423941
1,20.0,1,0,0.0,Northeast Region,55317240.0,55318350.0,55388349.0,55642659.0,55860261.0,...,-6.103092,-6.619089,-5.559570,1.467950,0.779137,0.605873,-0.082832,-0.903931,-1.307503,-0.288930
2,20.0,2,0,0.0,Midwest Region,66927001.0,66929794.0,66973360.0,67141501.0,67318295.0,...,-3.458531,-3.307295,-2.304640,-1.187519,-1.010696,-0.120354,-0.752477,-1.323952,-1.160735,-0.191323
3,20.0,3,0,0.0,South Region,114555744.0,114563024.0,114869241.0,116060993.0,117291728.0,...,3.788037,3.592695,2.900528,5.544289,5.831747,5.362083,6.317310,7.336162,7.113818,6.304010
4,20.0,4,0,0.0,West Region,71945553.0,71946937.0,72107471.0,72799127.0,73522988.0,...,1.613450,2.099001,1.475519,2.798796,3.521423,3.396627,4.163576,5.067452,5.488965,4.737979

In [8]:
df2 = df[df['DIVISION'] == '1']
df2.set_index('NAME', inplace= True)

# LIST COMPREHENSION
list_of_pop_col = [col for col in df2.columns if col.startswith('POP')]
df2 = df2[list_of_pop_col]

In [9]:
df2.head()

,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017
NAME,,,,,,,,
Connecticut,3580171.0,3591927.0,3597705.0,3602470.0,3600188.0,3593862.0,3587685.0,3588184.0
Maine,1327568.0,1327968.0,1328101.0,1327975.0,1328903.0,1327787.0,1330232.0,1335907.0
Massachusetts,6564943.0,6612178.0,6659627.0,6711138.0,6757925.0,6794002.0,6823721.0,6859819.0
New Hampshire,1316700.0,1318345.0,1320923.0,1322622.0,1328684.0,1330134.0,1335015.0,1342795.0
Rhode Island,1053169.0,1052154.0,1052761.0,1052784.0,1054782.0,1055916.0,1057566.0,1059639.0

In [10]:
data = [go.Scatter(
                    x= df2.columns,
                    y= df2.loc[name],
                    mode= 'lines',
                    name= name) for name in df2.index]
pyo.plot(data, filename= 'Scatter_Plot_02')

/home/fabio/anaconda3/envs/dash/lib/python3.6/site-packages/plotly/offline/offline.py:459: UserWarning:

Your filename `Scatter_Plot_02` didn't end with .html. Adding .html to the end of your file.

'file:///home/fabio/Documents/github/Plotly-Dash-Course/03 Plotly Basics/Scatter_Plot_02.html'

### Exercise
Objective: Using the file 2010YumaAZ.csv, develop a Line Chart that plots seven days worth of temperature data on one graph. \
You can use a for loop to assign each day to its own trace.

In [11]:
# Perform imports here:
import pandas as pd
import numpy as np
import plotly.offline as pyo
import plotly.graph_objs as go


# Create a pandas DataFrame from 2010YumaAZ.csv
df = pd.read_csv('../Data/2010YumaAZ.csv')
days = ['TUESDAY','WEDNESDAY','THURSDAY','FRIDAY','SATURDAY','SUNDAY','MONDAY']
df

# Use a for loop (or list comprehension to create traces for the data list)
data = [{
    'x': df.LST_TIME,
    'y': df[df.DAY == day].T_HR_AVG,
    'mode': 'lines',
    'name': day
} for day in df.DAY.unique()]

for day in days:
    # What should go inside this Scatter call?
    trace = go.Scatter()
    data.append(trace)

# Define the layout
layout = go.Layout(title= 'Daily temperatures', hovermode= 'x unified')


# Create a fig from data and layout, and plot the fig
fig = go.Figure(data= data, layout= layout)
pyo.plot(fig, filename= 'Exercise_Line_Plot')

/home/fabio/anaconda3/envs/dash/lib/python3.6/site-packages/plotly/offline/offline.py:459: UserWarning:

Your filename `Exercise_Line_Plot` didn't end with .html. Adding .html to the end of your file.

'file:///home/fabio/Documents/github/Plotly-Dash-Course/03 Plotly Basics/Exercise_Line_Plot.html'

In [12]:
df

     LST_DATE        DAY LST_TIME  T_HR_AVG
0    20100601    TUESDAY     0:00      25.2
1    20100601    TUESDAY     1:00      24.1
2    20100601    TUESDAY     2:00      24.4
3    20100601    TUESDAY     3:00      24.9
4    20100601    TUESDAY     4:00      22.8
5    20100601    TUESDAY     5:00      19.8
6    20100601    TUESDAY     6:00      18.8
7    20100601    TUESDAY     7:00      21.2
8    20100601    TUESDAY     8:00      24.2
9    20100601    TUESDAY     9:00      27.1
10   20100601    TUESDAY    10:00      29.3
11   20100601    TUESDAY    11:00      30.6
12   20100601    TUESDAY    12:00      32.6
13   20100601    TUESDAY    13:00      34.0
14   20100601    TUESDAY    14:00      34.0
15   20100601    TUESDAY    15:00      34.9
16   20100601    TUESDAY    16:00      34.6
17   20100601    TUESDAY    17:00      33.8
18   20100601    TUESDAY    18:00      33.5
19   20100601    TUESDAY    19:00      32.8
20   20100601    TUESDAY    20:00      31.0
21   20100601    TUESDAY    21:00      29.0
22   20100601    TUESDAY    22:00      27.6
23   20100601    TUESDAY    23:00      26.3
24   20100602  WEDNESDAY     0:00      23.8
25   20100602  WEDNESDAY     1:00      20.6
26   20100602  WEDNESDAY     2:00      19.1
27   20100602  WEDNESDAY     3:00      18.4
28   20100602  WEDNESDAY     4:00      18.9
29   20100602  WEDNESDAY     5:00      18.2
..        ...        ...      ...       ...
138  20100606     SUNDAY    18:00      40.3
139  20100606     SUNDAY    19:00      39.5
140  20100606     SUNDAY    20:00      37.9
141  20100606     SUNDAY    21:00      36.5
142  20100606     SUNDAY    22:00      35.0
143  20100606     SUNDAY    23:00      32.9
144  20100607     MONDAY     0:00      30.9
145  20100607     MONDAY     1:00      28.7
146  20100607     MONDAY     2:00      26.9
147  20100607     MONDAY     3:00      25.2
148  20100607     MONDAY     4:00      24.1
149  20100607     MONDAY     5:00      24.3
150  20100607     MONDAY     6:00      23.4
151  20100607     MONDAY     7:00      25.7
152  20100607     MONDAY     8:00      28.5
153  20100607     MONDAY     9:00      30.7
154  20100607     MONDAY    10:00      32.5
155  20100607     MONDAY    11:00      34.1
156  20100607     MONDAY    12:00      36.1
157  20100607     MONDAY    13:00      37.6
158  20100607     MONDAY    14:00      39.0
159  20100607     MONDAY    15:00      40.2
160  20100607     MONDAY    16:00      40.3
161  20100607     MONDAY    17:00      40.2
162  20100607     MONDAY    18:00      40.1
163  20100607     MONDAY    19:00      39.4
164  20100607     MONDAY    20:00      38.5
165  20100607     MONDAY    21:00      37.0
166  20100607     MONDAY    22:00      34.7
167  20100607     MONDAY    23:00      32.6

[168 rows x 4 columns]

## Bar Charts
- A Bar chart presents categorial data with rectangular bars with heigths (or lengths) proportional to the values that they represent;
- Can be **Continuous** or **Categorical**:
    - The weight, height and age of respondents in a survey would represent continuous variable;
    - person's gender, occupation, or marital status are categorial or discrete variables.
- With Bar Charts we can visualize categorical data.
- Tipycally the x-axis is the categories and the y-axis is the count (occurences) in each category;
    - However, the y-axis can be any aggregation (count, sum, average, etc).

In [13]:
df = pd.read_csv('../Data/2018WinterOlympics.csv')
df.head(7)

   Rank                NOC  Gold  Silver  Bronze  Total
0     1             Norway    14      14      11     39
1     2            Germany    14      10       7     31
2     3             Canada    11       8      10     29
3     4      United States     9       8       6     23
4     5        Netherlands     8       6       6     20
5     6             Sweden     7       6       1     14
6     7  Republic of Korea     5       8       4     17

Normal Bar Chart with only one element (totals)

In [14]:
data = [go.Bar(
                x=df.NOC,
                y= df.Total)]
                
layout = go.Layout(title= 'Medals')
fig = go.Figure(data= data, layout= layout)
pyo.plot(fig, filename= 'Bar_Medals_01')

/home/fabio/anaconda3/envs/dash/lib/python3.6/site-packages/plotly/offline/offline.py:459: UserWarning:

Your filename `Bar_Medals_01` didn't end with .html. Adding .html to the end of your file.

'file:///home/fabio/Documents/github/Plotly-Dash-Course/03 Plotly Basics/Bar_Medals_01.html'

Nested Bar chart

In [15]:
trace_gold = go.Bar(x= df.NOC, 
                y= df.Gold, 
                name= 'Gold', 
                marker= {'color': '#FFD700'})

trace_silver = go.Bar(x= df.NOC, 
                y= df.Silver, 
                name= 'Silver', 
                marker= {'color': '#9EA0A1'})

trace_bronze = go.Bar(x= df.NOC, 
                y= df.Bronze, 
                name= 'Bronze', 
                marker= {'color': '#CD7F32'})

data = [trace_gold, trace_silver, trace_bronze]
layout = go.Layout(title= 'Medals')
fig = go.Figure(data= data, layout= layout)
pyo.plot(fig, filename= 'Bar_Medals_02')

/home/fabio/anaconda3/envs/dash/lib/python3.6/site-packages/plotly/offline/offline.py:459: UserWarning:

Your filename `Bar_Medals_02` didn't end with .html. Adding .html to the end of your file.

'file:///home/fabio/Documents/github/Plotly-Dash-Course/03 Plotly Basics/Bar_Medals_02.html'

Normal Bar chart (Stacked) with **barmode** setted

In [16]:
trace_gold = go.Bar(x= df.NOC, 
                y= df.Gold, 
                name= 'Gold', 
                marker= {'color': '#FFD700'})

trace_silver = go.Bar(x= df.NOC, 
                y= df.Silver, 
                name= 'Silver', 
                marker= {'color': '#9EA0A1'})

trace_bronze = go.Bar(x= df.NOC, 
                y= df.Bronze, 
                name= 'Bronze', 
                marker= {'color': '#CD7F32'})

data = [trace_gold, trace_silver, trace_bronze]
layout = go.Layout(title= 'Medals', barmode= 'stack')
fig = go.Figure(data= data, layout= layout)
pyo.plot(fig, filename= 'Bar_Medals_03')

/home/fabio/anaconda3/envs/dash/lib/python3.6/site-packages/plotly/offline/offline.py:459: UserWarning:

Your filename `Bar_Medals_03` didn't end with .html. Adding .html to the end of your file.

'file:///home/fabio/Documents/github/Plotly-Dash-Course/03 Plotly Basics/Bar_Medals_03.html'

### Exercise
Objective:
\
Create a stacked bar chart from the file ../data/mocksurvey.csv. Note that questions appear in the index (and should be used for the x-axis), while responses appear as column labels.  Extra Credit: make a horizontal bar chart!

In [17]:

#######

######

# create a DataFrame from the .csv file:
df = pd.read_csv('../Data/mocksurvey.csv', index_col= 0)


# create traces using a list comprehension:
traces = [go.Bar({
        'x': df.index,
        'y': df[response],
        'orientation': 'h',
        'name': response
}) for response in df.columns]





# create a layout, remember to set the barmode here
layout = go.Layout(title= 'Survey Results - Bar Chart', barmode= 'stack')
fig = go.Figure(data= traces, layout= layout)
pyo.plot(fig, filename= 'Exercise_Bar_Chart')




# create a fig from data & layout, and plot the fig.

/home/fabio/anaconda3/envs/dash/lib/python3.6/site-packages/plotly/offline/offline.py:459: UserWarning:

Your filename `Exercise_Bar_Chart` didn't end with .html. Adding .html to the end of your file.

'file:///home/fabio/Documents/github/Plotly-Dash-Course/03 Plotly Basics/Exercise_Bar_Chart.html'

In [18]:
df.head()

,Strongly Agree,Somewhat Agree,Neutral,Somewhat Disagree,Strongly Disagree
Question 1,0.45,0.25,0.10,0.12,0.08
Question 2,0.12,0.07,0.48,0.18,0.15
Question 3,0.05,0.22,0.19,0.23,0.31

## Bubble Charts
- Very similar to scatter plots, except we have a third variable information through the size of the markers;
- We can also continue to add variable information by coloring points based on a category;

In [20]:
df = pd.read_csv('../Data/mpg.csv')
df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [22]:
data = [go.Scatter(
                    x= df.horsepower,
                    y= df.mpg,
                    text= df.name,
                    mode= 'markers',
                    marker= dict(size= 2*df.cylinders)
                )]

layout = go.Layout(title= 'Bubble chart')
fig = go.Figure(data= data, layout= layout)
pyo.plot(fig, filename= 'Bubble_Chart_01')

/home/fabio/anaconda3/envs/dash/lib/python3.6/site-packages/plotly/offline/offline.py:459: UserWarning:

Your filename `Bubble_Chart_01` didn't end with .html. Adding .html to the end of your file.

'file:///home/fabio/Documents/github/Plotly-Dash-Course/03 Plotly Basics/Bubble_Chart_01.html'

In [25]:
data = [go.Scatter(
                    x= df.horsepower,
                    y= df.mpg,
                    text= df.name,
                    mode= 'markers',
                    marker= dict(size= df.weight/200)
                )]

layout = go.Layout(title= 'Bubble chart')
fig = go.Figure(data= data, layout= layout)
pyo.plot(fig, filename= 'Bubble_Chart_02')

/home/fabio/anaconda3/envs/dash/lib/python3.6/site-packages/plotly/offline/offline.py:459: UserWarning:

Your filename `Bubble_Chart_02` didn't end with .html. Adding .html to the end of your file.

'file:///home/fabio/Documents/github/Plotly-Dash-Course/03 Plotly Basics/Bubble_Chart_02.html'

In [27]:
data = [go.Scatter(
                    x= df.horsepower,
                    y= df.mpg,
                    text= df.name,
                    mode= 'markers',
                    marker= dict(size= df.weight/100, color= df.cylinders, showscale= True)
                )]

layout = go.Layout(title= 'Bubble chart')
fig = go.Figure(data= data, layout= layout)
pyo.plot(fig, filename= 'Bubble_Chart_03')

/home/fabio/anaconda3/envs/dash/lib/python3.6/site-packages/plotly/offline/offline.py:459: UserWarning:

Your filename `Bubble_Chart_03` didn't end with .html. Adding .html to the end of your file.

'file:///home/fabio/Documents/github/Plotly-Dash-Course/03 Plotly Basics/Bubble_Chart_03.html'

### Bubble Chart Exercises

Objective:  
Create a bubble chart that compares three other features
from the mpg.csv dataset. \
Fields include: 'mpg', 'cylinders', 'displacement'
'horsepower', 'weight', 'acceleration', 'model_year', 'origin', 'name'

In [35]:
# create a DataFrame from the .csv file:
df = pd.read_csv('../Data/mpg.csv')

# create data by choosing fields for x, y and marker size attributes
data = [go.Scatter(
                    x= df.acceleration,
                    y= df.horsepower,
                    text= df.name,
                    marker= dict(size= df.mpg/2, color= df.model_year, showscale= True),
                    mode= 'markers'

)]

# create a layout with a title and axis labels
layout = go.Layout(title= 'Bubble Chart Exercise', hovermode= 'closest')

# create a fig from data & layout, and plot the fig
figure = go.Figure(data= data, layout= layout)
pyo.plot(figure, filename= 'Exercise_Bubble_Chart')

/home/fabio/anaconda3/envs/dash/lib/python3.6/site-packages/plotly/offline/offline.py:459: UserWarning:

Your filename `Exercise_Bubble_Chart` didn't end with .html. Adding .html to the end of your file.

'file:///home/fabio/Documents/github/Plotly-Dash-Course/03 Plotly Basics/Exercise_Bubble_Chart.html'

In [28]:
df.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite

## Box Plots
- Box Plots visualize the variation of a feature by depicting the continuous numerical data through quartiles;
- We can then separate the data based on a categorical feature to compare the continuous feature based on category;
- The Box Plot is a way of visually displyaing the data distribution through their quartiles;
- We can use it to perform a real analysis.

In [38]:
y = [1,14,14,15,16,18,18,19,19,20,20,23,24,26,27,27,28,29,33,54]

data = [go.Box(y=y, boxpoints= 'all', jitter=0.3, pointpos= 0)]
pyo.plot(data, filename= "Box_Plot_01")

/home/fabio/anaconda3/envs/dash/lib/python3.6/site-packages/plotly/offline/offline.py:459: UserWarning:

Your filename `Box_Plot_01` didn't end with .html. Adding .html to the end of your file.

'file:///home/fabio/Documents/github/Plotly-Dash-Course/03 Plotly Basics/Box_Plot_01.html'

Displaying **ONLY** the Outliers

In [40]:
y = [1,14,14,15,16,18,18,19,19,20,20,23,24,26,27,27,28,29,33,54]


data = [go.Box(y=y, boxpoints= 'outliers')]
pyo.plot(data, filename= "Box_Plot_02")

/home/fabio/anaconda3/envs/dash/lib/python3.6/site-packages/plotly/offline/offline.py:459: UserWarning:

Your filename `Box_Plot_02` didn't end with .html. Adding .html to the end of your file.

'file:///home/fabio/Documents/github/Plotly-Dash-Course/03 Plotly Basics/Box_Plot_02.html'

Three-word frequency analysis between Twain and Snodgrass

In [4]:
snodgrass = [.209,.205,.196,.210,.202,.207,.224,.223,.220,.201]
twain = [.225,.262,.217,.240,.230,.229,.235,.217]

data = [
        go.Box(y=snodgrass, name= 'Snoodgrass'),
        go.Box(y= twain, name= 'Twain')
        ]
pyo.plot(data, filename= "Box_Plot_03")

/home/fabio/anaconda3/envs/dash/lib/python3.6/site-packages/plotly/offline/offline.py:459: UserWarning:

Your filename `Box_Plot_03` didn't end with .html. Adding .html to the end of your file.

'file:///home/fabio/Documents/github/Plotly-Dash-Course/03 Plotly Basics/Box_Plot_03.html'

### Exercise
- Objective: Make a DataFrame using the Abalone dataset (../data/abalone.csv).
- Take two independent random samples of different sizes from the 'rings' field.
- HINT: np.random.choice(df['rings'],10,replace=False) takes 10 random values
- Use box plots to show that the samples do derive from the same population.

In [6]:
# create a DataFrame from the .csv file:
pd.read_csv('../Data/abalone.csv')

# take two random samples of different sizes:



# create a data variable with two Box plots:

# add a layout


# create a fig from data & layout, and plot the fig

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
5,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.1200,8
6,F,0.530,0.415,0.150,0.7775,0.2370,0.1415,0.3300,20
7,F,0.545,0.425,0.125,0.7680,0.2940,0.1495,0.2600,16
8,M,0.475,0.370,0.125,0.5095,0.2165,0.1125,0.1650,9
9,F,0.550,0.440,0.150,0.8945,0.3145,0.1510,0.3200,19
10,F,0.525,0.380,0.140,0.6065,0.1940,0.1475,0.2100,14
11,M,0.430,0.350,0.110,0.4060,0.1675,0.0810,0.1350,10
12,M,0.490,0.380,0.135,0.5415,0.2175,0.0950,0.1900,11
13,F,0.535,0.405,0.145,0.6845,0.2725,0.1710,0.2050,10
14,F,0.470,0.355,0.100,0.4755,0.1675,0.0805,0.1850,10
15,M,0.500,0.400,0.130,0.6645,0.2580,0.1330,0.2400,12
16,I,0.355,0.280,0.085,0.2905,0.0950,0.0395,0.1150,7
17,F,0.440,0.340,0.100,0.4510,0.1880,0.0870,0.1300,10
18,M,0.365,0.295,0.080,0.2555,0.0970,0.0430,0.1000,7
19,M,0.450,0.320,0.100,0.3810,0.1705,0.0750,0.1150,9
20,M,0.355,0.280,0.095,0.2455,0.0955,0.0620,0.0750,11
21,I,0.380,0.275,0.100,0.2255,0.0800,0.0490,0.0850,10
22,F,0.565,0.440,0.155,0.9395,0.4275,0.2140,0.2700,12
23,F,0.550,0.415,0.135,0.7635,0.3180,0.2100,0.2000,9
24,F,0.615,0.480,0.165,1.1615,0.5130,0.3010,0.3050,10
25,F,0.560,0.440,0.140,0.9285,0.3825,0.1880,0.3000,11
26,F,0.580,0.450,0.185,0.9955,0.3945,0.2720,0.2850,11
27,M,0.590,0.445,0.140,0.9310,0.3560,0.2340,0.2800,12
28,M,0.605,0.475,0.180,0.9365,0.3940,0.2190,0.2950,15
29,M,0.575,0.425,0.140,0.8635,0.3930,0.2270,0.2000,11
...,...,...,...,...,...,...,...,...,...
4147,M,0.695,0.550,0.195,1.6645,0.7270,0.3600,0.4450,11
4148,M,0.770,0.605,0.175,2.0505,0.8005,0.5260,0.3550,11
4149,I,0.280,0.215,0.070,0.1240,0.0630,0.0215,0.0300,6
4150,I,0.330,0.230,0.080,0.1400,0.0565,0.0365,0.0460,7
4151,I,0.350,0.250,0.075,0.1695,0.0835,0.0355,0.0410,6
4152,I,0.370,0.280,0.090,0.2180,0.0995,0.0545,0.0615,7
4153,I,0.430,0.315,0.115,0.3840,0.1885,0.0715,0.1100,8
4154,I,0.435,0.330,0.095,0.3930,0.2190,0.0750,0.0885,6
4155,I,0.440,0.350,0.110,0.3805,0.1575,0.0895,0.1150,6
4156,M,0.475,0.370,0.110,0.4895,0.2185,0.1070,0.1460,8
4157,M,0.475,0.360,0.140,0.5135,0.2410,0.1045,0.1550,8
4158,I,0.480,0.355,0.110,0.4495,0.2010,0.0890,0.1400,8
4159,F,0.560,0.440,0.135,0.8025,0.3500,0.1615,0.2590,9
4160,F,0.585,0.475,0.165,1.0530,0.4580,0.2170,0.3000,11
4161,F,0.585,0.455,0.170,0.9945,0.4255,0.2630,0.2845,11
4162,M,0.385,0.255,0.100,0.3175,0.1370,0.0680,0.0920,8
4163,I,0.390,0.310,0.085,0.3440,0.1810,0.0695,0.0790,7
4164,I,0.390,0.290,0.100,0.2845,0.1255,0.0635,0.0810,7
4165,I,0.405,0.300,0.085,0.3035,0.1500,0.0505,0.0880,7
4166,I,0.475,0.365,0.115,0.4990,0.2320,0.0885,0.1560,10
4167,M,0.500,0.380,0.125,0.5770,0.2690,0.1265,0.1535,9
4168,F,0.515,0.400,0.125,0.6150,0.2865,0.1230,0.1765,8
4169,M,0.520,0.385,0.165,0.7910,0.3750,0.1800,0.1815,10
4170,M,0.550,0.430,0.130,0.8395,0.3155,0.1955,0.2405,10
4171,M,0.560,0.430,0.155,0.8675,0.4000,0.1720,0.2290,8
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12